@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Party!</title>
    </head>
    <body>
        <div>
            We're going to have an exciting party.<br />
            (to do...)
        </div>
    </body>
</html>
